#srcnotes {
  color: $font-color;
  background: $background-color;
  font-family: $font-family;
    
  input, textarea {
    font-family: $font-family;
  }

  textarea {
    color: $font-color-light;

    &:focus {
      color: $font-color;
      background: $input-fucus-color;
    }
  }

  button {
    border: 0;
  }
  a {
    color: $font-color;
  }
  
  .color-default a,
  a.color-default {
    color: $font-color;
  }

  .color-red a,
  a.color-red {
    color: $color-red;
  }

  .color-yellow a,
  a.color-yellow {
    color: $color-yellow;
  }

  .color-green a,
  a.color-green {
    color: $color-green;
  }

  .color-blue a,
  a.color-blue {
    color: $color-blue;
  }
  
  .color-purple a,
  a.color-purple {
    color: $color-purple;
  }
  
}