.colors-panel {
  position: absolute;
  top: -100%;
  z-index: 999;
  outline: 0;
  -webkit-transform: scale(0);
  -webkit-transition: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  
  ul {
    padding: 0;
    margin: 0;
    box-shadow: $box-shadow;
    background: $background-color;
    border-radius: $border-radius;
    border-color: $border-color;
    
    li {
      display: inline-block;
      margin: 1em 0.5em;
      
      a {
        font-size: $font-size-large;
        border: solid 0.2333em $background-color;
        border-radius: 0.2em;
      }
      a.is-active {
        background: $border-color;
        border-color: $border-color;
      }
      
      a:hover {
        background: $hover-color;
        border-color: $hover-color;
      }
    }
  }
}