#info-panel {
  position: absolute;
  display: none;
  z-index: 3;
  bottom: 1em;
}

.message {
  background: $background-color;
  box-shadow: $box-shadow;
  padding: 0.5em;
  border-radius: $border-radius;
  text-align: center;
  margin: 0.5em;
  opacity: 0;
  word-break: break-word;
  a {
    float: right;
  }

  .error-message {
    color: $color-red;
  }

}

@media (min-width: 600px) {
  #info-panel {
    margin-left: 30%;
    width: 40%;
  }
}

@media (max-width: 600px) {
  #info-panel {
    margin: 0;
    width: 100%;
  }
}
