
.pure-form {
    input.note-name {
           font-size: 1.5em;
    }
}

#notes {
    width: 100%;
    top: 3.2em;//5.2em;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.note-name {
    width: 100%;
}
// hide and show search form
.edit-form-active {
    display: none;
}

// #header {
//     text-align: center;
//     background: none repeat scroll 0% 0% rgb(58, 58, 55);
//     padding: 0.5em;
//     color: rgb(231, 230, 228);
// }