$font-color: rgb(224, 223, 220);
$font-color-light: #b4b4b4;

$border-color: rgb(50, 49, 47);

$background-color: rgb(58, 58, 55);

$edit-form-button: $border-color;

$edit-form-button-text-color: $font-color;

$hover-color: rgb(67, 66, 64);

$input-fucus-color: rgb(66, 66, 63);

$font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;

@import "../../components/font-awesome/scss/_variables";
$fa-font-path:        "../../components/font-awesome/fonts";
@import "../../components/font-awesome/scss/_mixins";
@import "../../components/font-awesome/scss/_path";
@import "../../components/font-awesome/scss/_core";
@import "../../components/font-awesome/scss/_larger";
@import "../../components/font-awesome/scss/_fixed-width";
@import "../../components/font-awesome/scss/_list";
@import "../../components/font-awesome/scss/_bordered-pulled";
@import "../../components/font-awesome/scss/_spinning";
@import "../../components/font-awesome/scss/_rotated-flipped";
@import "../../components/font-awesome/scss/_stacked";
@import "../../components/font-awesome/scss/_icons";

@import "layout.scss";

#srcnotes {
  color: $font-color;
  background: $background-color;
  font-family: $font-family;
    
  input, textarea {
    font-family: $font-family;
  }

  textarea {
    color: $font-color-light;

    &:focus {
      color: $font-color;
      background: $input-fucus-color;
    }
  }

  button {
    border: 0;
  }
}

.pure-form {
  input.note-name {
    border-width: 0 0 0.2em 0;
    border-radius: 0;
    border: 0;
    // border-bottom-color: $border-color;
    background: $background-color;
    box-shadow: none;
    &:focus{
      border-bottom-color: desaturate($border-color, 30%);
      background: $input-fucus-color;
      border: 0;
    }
  }
}

.note-name {
  border-color: $border-color;
  color: $font-color-light;
  background: $background-color;
  &:focus {
    color: $font-color;
  }
}

#notes {
  background: $background-color;
  border-top: solid 0.32em $border-color;
  li.list-items {
    list-style-type: none;
    border-bottom: solid 1px $border-color;
        
    &.focus {
      background: $hover-color;
    }
  }
    
  .list-items a {
    text-decoration: none;
    color: $font-color;
    padding: 1em;
    display: block;
        
    &:hover {
      background: $hover-color;
    }
  }
    
  padding: 0;
  margin: 0;
}

.edit-form {
  height: 100%;
  display: block;
  .action-menu {
    width: 100%;
    position: absolute;
  }

  .pure-button {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: $background-color;
    color: $edit-form-button-text-color;
    // border-bottom: solid 0.3em $border-color;
    font-size: 2.5em;
    padding: 0;
    height: 1.3em;
    border-right: solid 0.1em $background-color;
    &:hover {
      background: $hover-color;
    }
  // border-bottom: solid 0.3em $border-color;
  }
    
  .note-content {
    position: absolute;
    left: 0px;
    top: 3.2em;
    right: 0px;
    overflow: auto;
    bottom: 0;
    border-top: solid 0.3em $border-color;

    textarea {
      font-size: 1em;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      color: $font-color;
      background: $background-color;
      box-shadow: none;
      resize: none;
      border-top: solid 0.1em $border-color;
    }
  }

  input.note-name {
    border-left: solid 0.1em $background-color;
    &:focus{
      border-color: desaturate($border-color, 30%);
      border-left: solid 0.1em #3a3a37;
    }
  }
}

