#notes {
  background: $border-color;
  border-top: solid 0.32em $border-color;
  padding: 0;
  margin: 0;
  
  &:focus {
    outline: none;
  }
  
  li.list-item {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $background-color;
        
    &.focus {
      background: $hover-color;
    }
  }
}

.link-panel {
//  border-top: solid 1px $border-color;
  a {
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .l-open-link {
    display: inline-block;
    width: 94%;
    a {
      padding: 1em;
      display: block;
    }
  }
  &:hover {
    background: $hover-color;
  }
  .l-info-link {
    font-size: $font-size;
    width: 1em;
    position: absolute;
    right: 0;
    display: inline-block;
  }
  a.info-link {
    padding: 1.2em 1.4em 1.2em 0.9em;
    width: 100%;
    float: right;
    font-size: $font-size;
    cursor: pointer;
    i {
      margin: 0 45%;
    }
    &:hover {
      background: $background-color;
    }
  }
}

.options-panel {
//  border-top: solid 1px $border-color;
  display: none;
  background: $background-color-options-panel;
  a {
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 3em;
    padding: 1em;
    margin: auto;
  }
  .l-options-actions {
    display: inline-block;
    width: 94%;
    a {
      padding: 0.53em;
      display: block;
      font-size: $font-size-large;
      text-align: center;
    }
  }
  .l-options-close {
    font-size: $font-size;
    width: 1em;
    z-index:99;
    position: absolute;
    right: 0;
    display: inline-block;
  }
  a.option-close {
    padding: 1.2em 1.4em 1.2em 0.9em;
    width: 100%;
    float: right;
    font-size: $font-size;
    cursor: pointer;
    i {
      margin: 0 45%;
    }
  }
}

