// font-awesome path
@import "../../components/font-awesome/scss/_variables";
$fa-font-path: "../../components/font-awesome/fonts";
//$fa-css-prefix: "icon";

$font-size: 1em;
$font-size-small: 0.875em;
$font-size-large: 1.5em;


// my custom variables
$font-color: rgb(224, 223, 220);
$font-color-dark: darken($font-color, 20%);

$border-color: rgb(50, 49, 47);

$background-color: rgb(58, 58, 55);

$edit-form-button: $border-color;

$edit-form-button-text-color: $font-color;

$hover-color: rgb(67, 66, 64);

$input-fucus-color: rgb(66, 66, 63);

$cursor-color: $font-color;

$font-family: Inconsolata, monospace;

$background-color-options-panel: $border-color;

$box-shadow: 1px 0px 20px 1px #2C2B2B;

$border-radius: 0.2em;

// colors 

$color-red: rgb(242,119,122); //#f2777a;
$color-yellow: rgb(255,204,102); //#ffcc66;
$color-green: rgb(153,204,153); //#99cc99;
$color-blue: rgb(102,153,204);//#6699cc;
$color-purple: rgb(178,148,187);//#b294bb