@font-face {
  font-family: 'FontAwesome';
  src: url('../../components/font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/Inconsolata.otf') format('opentype');
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-times:before {
  content: "\f00d"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-trash-o:before {
  content: "\f014"; }

.pure-form input.note-name {
  font-size: 1.5em; }

#notes {
  width: 100%;
  top: 3.1em;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: auto; }

.note-name {
  width: 100%; }

.edit-form-active {
  display: none; }

#srcnotes {
  color: #e0dfdc;
  background: #3a3a37;
  font-family: Inconsolata, monospace; }
  #srcnotes input, #srcnotes textarea {
    font-family: Inconsolata, monospace; }
  #srcnotes textarea {
    color: #b4b4b4; }
    #srcnotes textarea:focus {
      color: #e0dfdc;
      background: #42423f; }
  #srcnotes button {
    border: 0; }

.pure-form input.note-name {
  border-width: 0 0 0.2em 0;
  border-radius: 0;
  border: 0;
  background: #3a3a37;
  box-shadow: none;
  margin: 0; }
  .pure-form input.note-name:focus {
    border-bottom-color: #232c3e;
    background: #42423f;
    border: 0; }

.note-name {
  border-color: #32312f;
  color: #b4b4b4;
  background: #3a3a37; }
  .note-name:focus {
    color: #e0dfdc; }

#notes {
  background: #32312f;
  border-top: solid 0.32em #32312f;
  padding: 0;
  margin: 0; }
  #notes:focus {
    outline: none; }
  #notes li.list-item {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #3a3a37; }
    #notes li.list-item.focus {
      background: #434240; }

.link-panel {
  border-top: solid 1px #32312f; }
  .link-panel a {
    text-decoration: none;
    color: #e0dfdc;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .link-panel .l-open-link {
    display: inline-block;
    width: 94%; }
    .link-panel .l-open-link a {
      padding: 1em;
      display: block; }
  .link-panel:hover {
    background: #434240; }
  .link-panel .l-info-link {
    font-size: 1em;
    width: 1em;
    z-index: 99;
    position: absolute;
    right: 0;
    display: inline-block; }
  .link-panel a.info-link {
    padding: 1.2em 1.4em 1.2em 0.9em;
    width: 100%;
    float: right;
    font-size: 1em;
    cursor: pointer; }
    .link-panel a.info-link i {
      margin: 0 45%; }
    .link-panel a.info-link:hover {
      background: #3a3a37; }

.options-panel {
  border-top: solid 1px #32312f;
  display: none;
  background: #32312f; }
  .options-panel a {
    text-decoration: none;
    color: #e0dfdc;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .options-panel .l-options-actions {
    display: inline-block;
    width: 94%; }
    .options-panel .l-options-actions a {
      padding: 0.53em;
      display: block;
      font-size: 1.5em;
      text-align: center; }
  .options-panel .l-options-close {
    font-size: 1em;
    width: 1em;
    z-index: 99;
    position: absolute;
    right: 0;
    display: inline-block; }
  .options-panel a.option-close {
    padding: 1.2em 1.4em 1.2em 0.9em;
    width: 100%;
    float: right;
    font-size: 1em;
    cursor: pointer; }
    .options-panel a.option-close i {
      margin: 0 45%; }

.edit-form {
  height: 100%;
  display: block;
  position: absolute;
  width: 100%; }
  .edit-form .top-edit-menu {
    width: 100%; }
  .edit-form .pure-button {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #3a3a37;
    color: #e0dfdc;
    font-size: 2.5em;
    padding: 0;
    height: 1.3em;
    border-right: solid 0.1em #3a3a37; }
    .edit-form .pure-button:hover {
      background: #434240; }
  .edit-form .note-content {
    position: absolute;
    left: 0px;
    top: 3.1em;
    right: 0px;
    overflow: auto;
    bottom: 0;
    border-top: solid 0.35em #32312f;
    letter-spacing: 0; }
    .edit-form .note-content textarea {
      font-size: 1em;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      color: #e0dfdc;
      background: #3a3a37;
      box-shadow: none;
      resize: none;
      border-top: solid 0.1em #32312f; }
  .edit-form input.note-name {
    border-left: solid 0.1em #3a3a37; }
    .edit-form input.note-name:focus {
      border-color: #232c3e;
      border-left: solid 0.1em #3a3a37; }

.CodeMirror {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  font-family: Inconsolata, monospace;
  color: #b4b4b4;
  background: #3a3a37;
  box-shadow: none;
  resize: none;
  border-top: solid 0.1em #32312f;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em; }
  .CodeMirror .cm-header {
    color: #e0dfdc; }
  .CodeMirror div.CodeMirror-cursor {
    border-left: 0.15em solid #e0dfdc; }
  .CodeMirror .CodeMirror-selected {
    background: #5c5c58; }
  .CodeMirror.CodeMirror-focused {
    background: #42423f; }
  .CodeMirror .cm-header1 {
    font-size: 140%;
    color: #e0dfdc; }
  .CodeMirror .cm-header2 {
    font-size: 130%; }
  .CodeMirror .cm-header3 {
    font-size: 120%; }
  .CodeMirror .cm-header4 {
    font-size: 110%; }
  .CodeMirror .cm-header5 {
    font-size: 100%; }
  .CodeMirror .cm-header6 {
    font-size: 90%; }
  .CodeMirror .cm-strong {
    font-weight: bold; }
  .CodeMirror .cm-strong, .CodeMirror .cm-comment, .CodeMirror .cm-link, .CodeMirror .cm-variable-2, .CodeMirror .cm-variable-3 {
    color: #fff; }
  .CodeMirror .cm-tag, .CodeMirror .cm-attribute {
    color: #b4b4b4; }
  .CodeMirror .cm-string {
    color: #e0dfdc; }
